# Arquivos de build do Python
__pycache__/
*.py[cod]
*.pyo
*.spec

# Ambientes virtuais
venv/
.env/

# Pastas de build
build/
dist/

# Executáveis

*.pkg

# Logs
*.log

# Configurações do PyInstaller
*.manifest
*.spec

# Configurações do Inno Setup
*.iss

# Configurações do Qt
*.qrc
*.pyproject
